services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
      - .env.dev
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: ./scripts/run.sh
    env_file:
      - .env
      - .env.dev
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/landing_page
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.local

volumes:
  postgres_data:
